{% extends "student_portal/base.html" %}
{% block content %}
    <div class="max-w-md mx-auto bg-white shadow-md p-8 mb-6">
        <p class="text-lg font-semibold mb-4">Are you sure you want to proceed with the payment of Rs {{ amount }}?</p>
        <form action='https://secure.payu.in/_payment' method='post'>
            {% csrf_token %}
            <input type="hidden" name="key" value="{{ merchant_key }}" />
            <input type="hidden" name="txnid" value="{{ transaction_id }}" />
            <input type="hidden" name="productinfo" value="{{ product_info }}" />
            <div class="mb-4">
                <label for="amount" class="block text-sm font-medium text-gray-700">Amount:</label>
                <input name = "amount" class="block mt-1" value = {{amount}}>
            </div>
            <div class="mb-4">
                <label for="email" class="block text-sm font-medium text-gray-700">Email:</label>
                <input name="email" class="block mt-1" value = "{{ email }}">
            </div>
            <div class="mb-4">
                <label for="firstname" class="block text-sm font-medium text-gray-700">First Name:</label>
                <input name="firstname" class="block mt-1" value = "{{ first_name }}">
            </div>
            <div class="mb-4">
                <label for="phone" class="block text-sm font-medium text-gray-700">Phone:</label>
                <input required name="phone" class="block mt-1">
            </div>
            <input type="hidden" name="lastname" value="" />
            <input type="hidden" name="surl" value="{{ surl }}" />
            <input type="hidden" name="furl" value="{{ furl }}" />
            <input type="hidden" name="hash" value="{{ hash }}">
            <input type="hidden" name="service_provider" value="payu_paisa">
            <div class="flex justify-between items-center mt-6">
                <input type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer" value="Submit">
                {% url 'dashboard' as cancel_url %}
                <button type="button" onclick="window.location.href = '{{ cancel_url }}'" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded cursor-pointer">Cancel</button>
            </div>
        </form>
    </div>
{% endblock %}
