{% extends "admin_portal/base.html" %} {% block content %} 
<button onclick="window.location.href = '{{ activate_url }}'">Activate</button>
<div style="width: 30%">
  <canvas id="pieChart1"></canvas>
</div>
<div style="width: 100%; display: flex; justify-content: space-around">
  <div style="width: 30%">
    <canvas id="pieChart2"></canvas>
  </div>
  <div style="width: 30%">
    <canvas id="pieChart3"></canvas>
  </div>
  <div style="width: 30%">
    <canvas id="pieChart4"></canvas>
  </div>
  <div style="width: 30%">
    <canvas id="pieChart5"></canvas>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
   document.addEventListener('DOMContentLoaded', function () {
       var ctx1 = document.getElementById('pieChart1').getContext('2d');
       var pieChart1 = new Chart(ctx1, {
           type: 'pie',
           data: {
               labels: ['Students who Paid their fee', 'Total Students'],
               datasets: [{
                   data: [{{ num_students_with_receipts }}, {{ total_students}} - {{num_students_with_receipts }}],
                   backgroundColor: ['#36a2eb', '#ff6384']
               }]
           },
           options: {
               responsive: true,
               maintainAspectRatio: false
           }
       });

       var ctx2 = document.getElementById('pieChart2').getContext('2d');
       var pieChart2 = new Chart(ctx2, {
           type: 'pie',
           data: {
               labels: ['Students who Paid their fee', 'Total B.Tech Students'],
               datasets: [{
                   data: [{{ students_btech_with_receipts }}, {{ total_btech_students}} - {{students_btech_with_receipts }}],
                   backgroundColor: ['#36a2eb', '#ff6384']
               }]
           },
           options: {
               responsive: true,
               maintainAspectRatio: false
           }
       });

       var ctx3 = document.getElementById('pieChart3').getContext('2d');
       var pieChart3 = new Chart(ctx3, {
           type: 'pie',
           data: {
               labels: ['Students who Paid their fee', 'Total M.Tech Students'],
               datasets: [{
                   data: [{{ students_mtech_with_receipts }}, {{ total_mtech_students}} - {{students_mtech_with_receipts }}],
                   backgroundColor: ['#36a2eb', '#ff6384']
               }]
           },
           options: {
               responsive: true,
               maintainAspectRatio: false
           }
       });

       var ctx4 = document.getElementById('pieChart4').getContext('2d');
       var pieChart4 = new Chart(ctx4, {
           type: 'pie',
           data: {
               labels: ['Students who Paid their fee', 'Total Msc Students'],
               datasets: [{
                   data: [{{ students_msc_with_receipts }}, {{ total_msc_students}} - {{students_msc_with_receipts }}],
                   backgroundColor: ['#36a2eb', '#ff6384']
               }]
           },
           options: {
               responsive: true,
               maintainAspectRatio: false
           }
       });

  var ctx5 = document.getElementById('pieChart5').getContext('2d');
       var pieChart5 = new Chart(ctx5, {
           type: 'pie',
           data: {
               labels: ['Students who Paid their fee', 'Total Phd Students'],
               datasets: [{
                   data: [{{ students_phd_with_receipts }}, {{ total_phd_students}} - {{students_phd_with_receipts }}],
                   backgroundColor: ['#36a2eb', '#ff6384']
               }]
           },
           options: {
               responsive: true,
               maintainAspectRatio: false
           }
       });


   });
</script>

{% endblock %}
