{% extends "admin_portal/base.html" %} 
{% block content %} 
{% url 'admin_portal:activate' as activate_url %}

<div class="flex mb-2">
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    onclick="window.location.href = '{{ activate_url }}'" >Activate</button>
</div>


<div class=" flex justify-center grid grid-cols-1 md:grid-cols-4 gap-2">
  <div class="col-span-2 bg-slate-200 shadow-lg rounded-lg p-2">
    <canvas id="pieChart1"></canvas>
  </div>
</div>

<div class="grid grid-cols-2 md:grid-cols-4 gap-4 mt-4">
  <div class="bg-slate-200 shadow-lg rounded-lg p-2">
    <canvas id="pieChart2"></canvas>
  </div>
  <div class="bg-slate-200 shadow-lg rounded-lg p-2">
    <canvas id="pieChart3"></canvas>
  </div>
  <div class="bg-slate-200 shadow-lg rounded-lg p-2">
    <canvas id="pieChart4"></canvas>
  </div>
  <div class="bg-slate-200 shadow-lg rounded-lg p-2">
    <canvas id="pieChart5"></canvas>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
   document.addEventListener('DOMContentLoaded', function () {
       var ctx1 = document.getElementById('pieChart1').getContext('2d');
       var pieChart1 = new Chart(ctx1, {
           type: 'pie',
           data: {
               labels: ['Students who Paid their fee', 'Students with due'],
               datasets: [{
                   data: [{{ all_no_due }}, {{ all_students }} - {{ all_no_due }}],
                   backgroundColor: ['#36a2eb', '#ff6384']
               }]
           },
           options: {
               responsive: true,
               maintainAspectRatio: false
           }
       });

       var ctx2 = document.getElementById('pieChart2').getContext('2d');
       var pieChart2 = new Chart(ctx2, {
           type: 'pie',
           data: {
               labels: ['Students who Paid their fee', 'B.Tech with due'],
               datasets: [{
                   data: [{{ btech_no_due }}, {{ btech_students }} - {{ btech_no_due }}],
                   backgroundColor: ['#36a2eb', '#ff6384']
               }]
           },
           options: {
               responsive: true,
               maintainAspectRatio: false
           }
       });

       var ctx3 = document.getElementById('pieChart3').getContext('2d');
       var pieChart3 = new Chart(ctx3, {
           type: 'pie',
           data: {
               labels: ['Students who Paid their fee', 'M.Tech with due'],
               datasets: [{
                   data: [{{ mtech_no_due }}, {{ mtech_students}} - {{ mtech_no_due }}],
                   backgroundColor: ['#36a2eb', '#ff6384']
               }]
           },
           options: {
               responsive: true,
               maintainAspectRatio: false
           }
       });

       var ctx4 = document.getElementById('pieChart4').getContext('2d');
       var pieChart4 = new Chart(ctx4, {
           type: 'pie',
           data: {
               labels: ['Students who Paid their fee', 'Msc with due'],
               datasets: [{
                   data: [{{ msc_no_due }}, {{ msc_students }} - {{msc_no_due }}],
                   backgroundColor: ['#36a2eb', '#ff6384']
               }]
           },
           options: {
               responsive: true,
               maintainAspectRatio: false
           }
       });

  var ctx5 = document.getElementById('pieChart5').getContext('2d');
       var pieChart5 = new Chart(ctx5, {
           type: 'pie',
           data: {
               labels: ['Students who Paid their fee', 'Phd with due'],
               datasets: [{
                   data: [{{ phd_no_due }}, {{ phd_students }} - {{ phd_no_due }}],
                   backgroundColor: ['#36a2eb', '#ff6384']
               }]
           },
           options: {
               responsive: true,
               maintainAspectRatio: false
           }
       });


   });
</script>

{% endblock %}
