{% extends "admin_portal/base.html" %} {% block content %}
<div class="container mx-auto p-8">
    <div class="bg-white rounded-lg shadow-md p-6 mb-8">
        <h2 class="text-xl font-semibold mb-4">Upload Excel</h2>
        <div class="text-sm text-gray-600 mb-2">
            <ul class="list-disc ml-6">
                <li>Use this to upload payments received from loans</li>
                <li>Download the sample sheet to know the required format</li>
            </ul>
        </div>
        <form action="/admin/loan" method="POST" enctype="multipart/form-data" class="space-y-4">
            {% csrf_token %}
            <div class="mb-4 flex items-center justify-center w-full">
                <label for="excel_file"
                    class="flex flex-col items-center justify-center w-full h-32 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100">
                    <div class="flex flex-col items-center justify-center pt-5 pb-6">
                        <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                        </svg>
                        <p id="file-name-display"
                            class="pt-1 text-xl tracking-wider text-gray-400 group-hover:text-blue-600">
                            <span class="font-semibold">Click to upload</span> Excel file
                        </p>
                    </div>
                    <input type="file" id="excel_file" name="excel_file" class="hidden" accept=".xlsx,.xls"
                        onchange="displayFileName(this)" />
                </label>
            </div>

            <div class="flex justify-end space-x-4">
                <button type="submit"
                    class="inline-flex justify-center px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                    <svg class="h-5 w-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
                    </svg>
                    Submit
                </button>
                {% url 'admin_portal:download_excel' 'loan_sample' as download_url %}
                <button type="button" onclick="window.location.href = '{{ download_url }}'"
                    class="inline-flex justify-center px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                    <svg class="h-5 w-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                    </svg>
                    Sample
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    function displayFileName(input) {
        const fileNameDisplay = document.getElementById('file-name-display');
        const fileName = input.value.split('\\').pop();
        if (fileName) {
            fileNameDisplay.innerHTML = `Uploaded file: <span class="font-semibold">${fileName}</span>`;
        } else {
            fileNameDisplay.innerHTML = '';
        }
    }
    function displayFileNameAlt(input) {
        console.log('here')
        const fileNameDisplay = document.getElementById('file-name-display-alt');
        const fileName = input.value.split('\\').pop();
        if (fileName) {
            fileNameDisplay.innerHTML = `Uploaded file: <span class="font-semibold">${fileName}</span>`;
        } else {
            fileNameDisplay.innerHTML = '';
        }
    }
</script>
{% endblock %}