{% extends "admin_portal/base.html" %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img
        class="mx-auto h-32 w-auto"
        src="https://www.iiti.ac.in/public/themes/iitindore/demos/update-logo.png"
        alt="Your Company"
      />
      <h2
        class="mt-0 text-center text-2xl font-bold leading-9 tracking-tight text-[#075985]"
      >
        Login
      </h2>
    </div>
    <form class="space-y-6" action="#" method="POST">
      <form action="/admin/" method="POST">
        {% csrf_token %} {{ form }}
        <input
          type="submit"
          value="submit"
          class="flex w-full justify-center rounded-md bg-[#0369a1] px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-[#0284c7] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#0369a1]"
        />
      </form>
    </form>
  </div>
</div>
{% block content %}
