{% extends "admin_portal/base.html" %}
{% block content %}

<a href="{% url 'admin_portal:list' %}">back to student list</a>

<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-8">Student Profile</h1>
    <!-- Display profile photo -->
    <div class="bg-white rounded-lg shadow-md p-6">
        <form>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="roll_number">Roll Number:</label>
                <input readonly class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="roll_number" type="text" value="{{ student_details.roll_number }}">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="name">Name:</label>
                <input readonly class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" value="{{ student_details.name }}">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="course">Course:</label>
                <input readonly class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="course" type="text" value="{{ student_details.course }}">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="category">Category:</label>
                <input readonly class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="category" type="text" value="{{ student_details.category }}">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="department">Department:</label>
                <input readonly class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="department" type="text" value="{{ student_details.department }}">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="tuition_fee">Tuition Fee:</label>
                <input type = "number" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="tuition_fee" type="text" value="{{ student_details.tuition_fee }}">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="insurance_fee">Insurance Fee:</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="insurance_fee" type="text" value="{{ student_details.insurance_fee }}">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="examination_fee">Examination Fee:</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="examination_fee" type="text" value="{{ student_details.examination_fee }}">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="registration_fee">Registration Fee:</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="registration_fee" type="text" value="{{ student_details.registration_fee }}">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="gymkhana_fee">Gymkhana Fee:</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="gymkhana_fee" type="text" value="{{ student_details.gymkhana_fee }}">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="medical_fee">Medical Fee:</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="medical_fee" type="text" value="{{ student_details.medical_fee }}">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="student_benevolent_fund">Student Benevolent Fund:</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="student_benevolent_fund" type="text" value="{{ student_details.student_benevolent_fund }}">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="lab_fee">Lab Fee:</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="lab_fee" type="text" value="{{ student_details.lab_fee }}">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="semester_mess_advance">Semester Mess Advance:</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="semester_mess_advance" type="text" value="{{ student_details.semester_mess_advance }}">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="one_time_fee">One-time Fee:</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="one_time_fee" type="text" value="{{ student_details.one_time_fee }}">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="refundable_security_deposit">Refundable Security Deposit:</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="refundable_security_deposit" type="text" value="{{ student_details.refundable_security_deposit }}">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="accommodation_charges">Accommodation Charges:</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="accommodation_charges" type="text" value="{{ student_details.accommodation_charges }}">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="student_welfare_fund">Student Welfare Fund:</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="student_welfare_fund" type="text" value="{{ student_details.student_welfare_fund }}">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="mess_rebate">Mess Rebate:</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="mess_rebate" type="text" value="{{ student_details.mess_rebate }}">
            </div>
        </form>
    </div>
</div>
{% endblock %}
