{% extends "admin_portal/base.html" %} {% block content %}
<div class="container mx-auto p-8">
<h1 class="text-2xl font-bold mb-6">Student Management</h1>

<!-- Excel Upload -->
<div class="bg-white rounded-lg shadow-md p-6 mb-8">
  <h2 class="text-xl font-semibold mb-4">Upload Excel</h2>
  <form action="/admin/upload_excel" method="POST" enctype="multipart/form-data" class="space-y-4">
    {% csrf_token %}
    <div>
      <label for="excel_file" class="block text-gray-700 font-semibold">Choose Excel File</label>
      <div class="relative mt-1">
        <input type="file" id="excel_file" name="excel_file" class="w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500" />
        <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
          <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M9 19l3 3m0 0l3-3m-3 3V10" />
          </svg>
        </div>
      </div>
    </div>
    <div class="flex justify-end space-x-4">
      <button type="submit" class="inline-flex justify-center px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
        <svg class="h-5 w-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
        </svg>
        Submit
      </button>
      {% url 'admin_portal:download_excel' 'upload_sample' as download_url %}
      <button type="button" onclick="window.location.href = '{{ download_url }}'" class="inline-flex justify-center px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
        <svg class="h-5 w-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
        </svg>
        Sample
      </button>
    </div>
  </form>
</div>

<div class="bg-white rounded-lg shadow-md p-6 mb-8">
  <h2 class="text-xl font-semibold mb-4">Upload Excel without fee details</h2>
  <form action="/admin/upload_excel2" method="POST" enctype="multipart/form-data" class="space-y-4">
    {% csrf_token %}
    <div>
      <label for="excel_file" class="block text-gray-700 font-semibold">Choose Excel File</label>
      <div class="relative mt-1">
        <input type="file" id="excel_file" name="excel_file" class="w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500" />
        <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
          <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M9 19l3 3m0 0l3-3m-3 3V10" />
          </svg>
        </div>
      </div>
    </div>
    <div class="flex justify-end space-x-4">
      <button type="submit" class="inline-flex justify-center px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
        <svg class="h-5 w-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
        </svg>
        Submit
      </button>
      {% url 'admin_portal:download_excel' 'upload_sample' as download_url %}
      <button type="button" onclick="window.location.href = '{{ download_url }}'" class="inline-flex justify-center px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
        <svg class="h-5 w-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
        </svg>
        Sample
      </button>
    </div>
  </form>
</div>

<div class="bg-white rounded-lg shadow-md p-6">
	<h2 class="text-xl font-semibold mb-4">Upload Student</h2>
	<form action="{% url 'admin_portal:upload' %}" method="POST">
	{% csrf_token %}
	<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
		<div>
		<label for="name" class="block text-gray-700 font-semibold mb-2">Name</label>
		<input type="text" id="name" name="name" class="w-full p-2 border border-gray-300 rounded">
		</div>
		<div>
		<label for="roll_number" class="block text-gray-700 font-semibold mb-2">Roll Number</label>
		<input type="text" id="roll_number" name="roll_number" class="w-full p-2 border border-gray-300 rounded">
		</div>
		<div>
		<label for="category" class="block text-gray-700 font-semibold mb-2">Category</label>
		<input id="category" name="category" class="w-full p-2 border border-gray-300 rounded">
		</div>
		<div>
		<label for="course" class="block text-gray-700 font-semibold mb-2">Course</label>
		<input type="text" id="course" name="course" class="w-full p-2 border border-gray-300 rounded">
		</div>
		<div>
		<label for="department" class="block text-gray-700 font-semibold mb-2">Department</label>
		<input type="text" id="department" name="department" class="w-full p-2 border border-gray-300 rounded">
		</div>
	</div>
	<button type="submit"
		class="mt-6 bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue active:bg-blue-800">
		Add Student
	</button>
	</form>
</div>

<div class="bg-white rounded-lg shadow-md p-6">
	<h2 class="text-xl font-semibold mb-4">Upload Student with fee details</h2>
	<form action="{% url 'admin_portal:upload2' %}" method="POST">
	{% csrf_token %}
	<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
		<div>
			<label for="roll_number" class="block text-gray-700 font-semibold mb-2">Roll Number</label>
			<input type="text" id="roll_number" name="roll_number" class="w-full p-2 border border-gray-300 rounded">
		</div>
		<div>
			<label for="name" class="block text-gray-700 font-semibold mb-2">Name</label>
			<input type="text" id="name" name="name" class="w-full p-2 border border-gray-300 rounded">
		</div>
		<div>
			<label for="course" class="block text-gray-700 font-semibold mb-2">Course</label>
			<input type="text" id="course" name="course" class="w-full p-2 border border-gray-300 rounded">
		</div>
		<div>
			<label for="category" class="block text-gray-700 font-semibold mb-2">Category</label>
			<input id="category" name="category" class="w-full p-2 border border-gray-300 rounded">
		</div>
		<div>
			<label for="department" class="block text-gray-700 font-semibold mb-2">Department</label>
			<input type="text" id="department" name="department" class="w-full p-2 border border-gray-300 rounded">
		</div>
		<!-- Fee details -->
		<div>
			<label for="base_tuition_fee" class="block text-gray-700 font-semibold mb-2">Base Tuition Fee</label>
			<input type="number" id="base_tuition_fee" name="base_tuition_fee" class="w-full p-2 border border-gray-300 rounded">
		</div>
		<div>
			<label for="insurance_fee" class="block text-gray-700 font-semibold mb-2">Insurance Fee</label>
			<input type="number" id="insurance_fee" name="insurance_fee" class="w-full p-2 border border-gray-300 rounded">
		</div>
		<div>
			<label for="examination_fee" class="block text-gray-700 font-semibold mb-2">Examination Fee</label>
			<input type="number" id="examination_fee" name="examination_fee" class="w-full p-2 border border-gray-300 rounded">
		</div>
		<div>
			<label for="registration_fee" class="block text-gray-700 font-semibold mb-2">Registration Fee</label>
			<input type="number" id="registration_fee" name="registration_fee" class="w-full p-2 border border-gray-300 rounded">
		</div>
		<div>
			<label for="gymkhana_fee" class="block text-gray-700 font-semibold mb-2">Gymkhana Fee</label>
			<input type="number" id="gymkhana_fee" name="gymkhana_fee" class="w-full p-2 border border-gray-300 rounded">
		</div>
		<div>
			<label for="medical_fee" class="block text-gray-700 font-semibold mb-2">Medical Fee</label>
			<input type="number" id="medical_fee" name="medical_fee" class="w-full p-2 border border-gray-300 rounded">
		</div>
		<div>
			<label for="student_benevolent_fund" class="block text-gray-700 font-semibold mb-2">Student Benevolent Fund</label>
			<input type="number" id="student_benevolent_fund" name="student_benevolent_fund" class="w-full p-2 border border-gray-300 rounded">
		</div>
		<div>
			<label for="lab_fee" class="block text-gray-700 font-semibold mb-2">Lab Fee</label>
			<input type="number" id="lab_fee" name="lab_fee" class="w-full p-2 border border-gray-300 rounded">
		</div>
		<div>
			<label for="semester_mess_advance" class="block text-gray-700 font-semibold mb-2">Semester Mess Advance</label>
			<input type="number" id="semester_mess_advance" name="semester_mess_advance" class="w-full p-2 border border-gray-300 rounded">
		</div>
		<div>
			<label for="one_time_fee" class="block text-gray-700 font-semibold mb-2">One Time Fee</label>
			<input type="number" id="one_time_fee" name="one_time_fee" class="w-full p-2 border border-gray-300 rounded">
		</div>
		<div>
			<label for="refundable_security_deposit" class="block text-gray-700 font-semibold mb-2">Refundable Security Deposit</label>
			<input type="number" id="refundable_security_deposit" name="refundable_security_deposit" class="w-full p-2 border border-gray-300 rounded">
		</div>
		<div>
			<label for="accommodation_charges" class="block text-gray-700 font-semibold mb-2">Accommodation Charges</label>
			<input type="number" id="accommodation_charges" name="accommodation_charges" class="w-full p-2 border border-gray-300 rounded">
		</div>
		<div>
			<label for="student_welfare_fund" class="block text-gray-700 font-semibold mb-2">Student Welfare Fund</label>
			<input type="number" id="student_welfare_fund" name="student_welfare_fund" class="w-full p-2 border border-gray-300 rounded">
		</div>
		<!-- Extra fee -->
		<div>
			<label for="mess_rebate" class="block text-gray-700 font-semibold mb-2">Mess Rebate</label>
			<input type="number" id="mess_rebate" name="mess_rebate" class="w-full p-2 border border-gray-300 rounded">
		</div>
		<div>
			<label for="fee_arrear" class="block text-gray-700 font-semibold mb-2">Fee Arrear</label>
			<input type="number" id="fee_arrear" name="fee_arrear" class="w-full p-2 border border-gray-300 rounded">
		</div>
    <div>
			<label for="fee_paid" class="block text-gray-700 font-semibold mb-2">Fee Paid</label>
			<input type="number" id="fee_paid" name="fee_paid" class="w-full p-2 border border-gray-300 rounded">
		</div>
	</div>
	<button type="submit"
		class="mt-6 bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue active:bg-blue-800">
		Add Student
	</button>
	</form>
</div>


</div>
{% endblock %}